extends layout

block content
  div#about
    img#danPhoto(src='/img/dan.png')
    span.caption another portrait of the artist as an egg
    br
    span.caption this egg is a little longer and not as wide
    br
    span.caption honestly, this is a weird egg
  br
  div
    p "Okay, I don't make films / But if I did they'd have a samurai"
    hr
    p I'm Dan. I'm a programmer. I also perform comedy and music and ride my bike and write.