extends layout

block extraHeader
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script.
    window.onload = function() {
      var button = $('#submitEmail')
      button.click(function() {
        $.post('/dailyLen/signUp', {emailAddress:$('#emailAddress').val()}, function(response) {
          if($('signupMessage').val() === undefined) {
            $('#signupMessage').text('')
            $('#signupMessage').append(response)
            }
          })
        })
      }

block content

  div#dailyLen
    br
    div#signUp
      h2 Enter your email to receive a link to the music video for <i>Steal My Sunshine</i> every morning!
      input#emailAddress(type='email' placeholder='your@email.here')
      button#submitEmail Make My Life Better
      br
      br
      p#signupMessage