extends layout

block content
  div#homeBody
    div#stuff
      span
        block improv
          div#improv!=improv
      span
        block post
          div#post!=post
      span
        block tech
          div#tech!=tech
  div#oldPosts
    a(href='/oldPosts') old posts