doctype html
html
  head
    title #{title}
  body

    h4 hello

    div#improv
      block improv
      div!=improv
    div#post
      block post
      div!=post
    div#comedy
      block comedy
      div!=comedy
