extends layout

block content
  div.splashBody
    div#portraitPortal
      a(href='/latestPost')
        img#selfPortrait(src='/img/selfPortrait.png')
      span.caption a self portrait of the artist as an egg
    