doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
  body

    h4 hello
    div#homeBody
      span#improv
        block improv
        div!=improv
      span#post
        block post
        div!=post
      span#comedy
        block comedy
        div!=comedy
