doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
  body
    div#innerWrapper
      img#logo(src='/img/logo.gif')
      div#homeBody
        span
          block improv
            div#improv!=improv
        span
          block post
            div#post!=post
        span
          block tech
            div#tech!=tech
