extends layout

block content
  div.splashBody
    div#portraitPortal
      a(href='/latestPost')
        img#selfPortrait(src='/img/selfPortrait.png' width='350px')
      br
      span.caption a self portrait of the artist as an egg
      br
      span.caption CLICK THE EGG. 
      span.caption.question DO YOU WANT TO SEE THE LATEST POST? 
      span.caption CLICK THE EGG.