extends layout

block content
  div#bodyWrapper
    div#splashBody
      div#portraitPortal
        img#selfPortrait(src='/img/selfPortrait.png' width='350px')
        br
        span.caption a self portrait of the artist as an egg
        br
    div.post!=post