doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/default.min.css")
    script(src="http://yandex.st/highlightjs/7.5/highlight.min.js")
    script hljs.initHighlightingOnLoad(); 

  body
    div#innerWrapper
      div#logo
        a(href='/')
          span  welcome to dan
      //  img#logo(src='/img/logo.gif')

      div#nav
        a(href='/about') about
        |  - 
        a(href='/oldPosts') old posts
        |  - 
        a(href='https://twitter.com/drdemsyn') twitter
        |  - 
        a(href='/projects') projects
      block content
      div#footer
        div#nav
          a(href='/about') about
          |  - 
          a(href='/oldPosts') old posts
          |  - 
          a(href='https://twitter.com/drdemsyn') twitter
          |  - 
          a(href='/projects') projects