doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
  body
    div#innerWrapper
      img#logo(src='/img/logo.gif')
      block content
    div#footer
      a#oldPosts(href='/oldPosts') old posts
      span#copywrite yo drdh did this don't take it, that would be stupid
      a#twitter(href='http://www.twitter.com/drdemsyn' target='_blank') tweeter