body {
  background-color:#EEFF37;
  height: 97%;
  width: 99%;
}
html {
  height: 99%;
}
h1 {
  border: outset #A3A3A3;
}
h2 {
  border: dotted #A3A3A3;
  color: #EEFF37;
}
#innerWrapper {
  background-color:#0001FF;
  border: outset #23BD00;
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  height: 98%;
}
#logo {
  width: 520px;
  height: 100px;
  margin-left: 26%;
}
.homeBody {
  padding:5px;
  margin: auto;
  width: 90%;
  height: 77.5%;
  background-color:#4D56E8;
}
#stuff {
  margin-left : 1.5%;
}
.improv {
  float: left;
  width: 32%;
  height: 475px;
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
}
.improv h1 {
  width: 90%;
  text-align: center;
  margin-left:3%;
}
.improv p {
  height: 400px;
  padding: 15px;
}
.post {
  float: left;
  border: inset #A3A3A3;
  width: 32%;
  height: 475px;
  background-color:#B5B5B5;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
}
.post h1 {
  width: 90%;
  text-align: center;
  margin-left:3%;

}
.post p {
  /*height:400px;*/
  padding-left: 15px;
  padding-right: 15px;
}
.tech {
  float: left;
  width: 32%;
  height: 475px;
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
}
.tech h1 {
  width: 90%;
  text-align: center;
  margin-left:3%;
}
.tech p {
  height:400px;
  padding: 15px;
}

#content {
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
  padding: 5px;
}

#innerWrapperPost {
  background-color:#0001FF;
  border: outset #23BD00;
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  height: 95%;
}

#homeBodyPost {
  padding:10px;
  margin: auto;
  width: 75%;
  height: 50%;
  background-color:#4D56E8;
}

#footer {
  width: 100%;
}

#postList {
  background-color:#4D56E8;

}

#oldPosts {
  margin-bottom: 25px;
  margin-left: 5%;
}

#twitter {
  float: right;
  margin-bottom: 25px;
  margin-right: 5%;
}

#copywrite {
  margin-left: 26%;
  margin-top: 5px ;
  text-decoration: none;
  color: #0001FF;
  text-shadow: #A3A3A3 -2px 2px
}