#homeBody {
  margin: auto;
  width: 90%;
  height: 50%;
  background-color:#4D56E8;
}
#improv {
  float: left;
  width: 350px;
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
}
#post {
  float: left;
  border: inset #A3A3A3;
  width: 350px;
  background-color:#B5B5B5;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
}
#comedy {
  float: left;
  width: 350px;
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
}