body {
  background-color:#EEFF37;
}
#innerWrapper {
  background-color:#0001FF;
  border: outset #23BD00;
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  height: 600px;
}
#logo {
  width: 520px;
  height: 100px;
  margin-left: 26%;
}
#homeBody {
  padding:10px;
  margin: auto;
  width: 90%;
  height: 50%;
  background-color:#4D56E8;
}
#improv {
  float: left;
  width: 350px;
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
}
#improv h1 {
  width: 90%;
  text-align: center;
  margin-left:3%;
}
#improv p {
  height: 400px;
  padding: 15px;
}
#post {
  float: left;
  border: inset #A3A3A3;
  width: 350px;
  background-color:#B5B5B5;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
}
#post h1 {
  width: 90%;
  text-align: center;
  margin-left:3%;
}
#post p {
  height:400px;
  padding: 15px;
}
#comedy {
  float: left;
  width: 350px;
  background-color:#B5B5B5;
  border: outset #A3A3A3;
  color: #000;
  text-shadow: #A3A3A3 -3px 3px;
  overflow: auto;
}
#comedy h1 {
  width: 90%;
  text-align: center;
  margin-left:3%;
}
#comedy p {
  height:400px;
  padding: 15px;
}